<% include ../partials/header %>
<script>
    window.repoInfo = <%= repoInfo %>;
</script>
<ul class="nav nav-tabs nav-tabs-dark">
    <li class="nav-item">
        <a class="nav-link" id="others" href="#others">Other PRs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="mine" href="#mine">My PRs</a>
    </li>
</ul>
<% include ../partials/footer %>